<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <meta-data
        android:name="com.google.android.maps.v2.API_KEY"
        android:value="YOUR_MAP_API" />

    <application
        android:name=".HanaDroidApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HanaDroid"
        android:usesCleartextTraffic="true"
        tools:targetApi="32">
        <activity
            android:name=".ui.TabbedFragmentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MusicPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.NonHiltActivity"
            android:exported="false" />
        <activity
            android:name=".ui.DownloadStuffActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LocationActivity"
            android:exported="false" /> <!-- Main Launcher Activity -->
        <activity
            android:name=".ui.EntryActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.BoredActivityLauncherActivity"
            android:exported="false"
            android:label="@string/title_activity_bored_activity"
            android:theme="@style/Theme.HanaDroid.NoActionBar" />
        <activity
            android:name=".ui.UniversityMainActivity"
            android:exported="true"
            android:theme="@style/Theme.HanaDroid.NoActionBar" />
        <activity
            android:name=".ui.RickAndMortyCharactersActivity"
            android:exported="false"
            android:label="@string/title_activity_reddit_posts"
            android:theme="@style/Theme.HanaDroid.NoActionBar" />
        <activity
            android:name=".ui.ImageLoaderActivity"
            android:exported="false"
            android:label="@string/title_activity_image_loader"
            android:theme="@style/Theme.HanaDroid.NoActionBar" />
        <activity
            android:name=".ui.DogsMediaActivity"
            android:exported="false"
            android:label="@string/title_dogs_media_activity"
            android:theme="@style/Theme.HanaDroid.NoActionBar" />
        <activity
            android:name=".ui.DisneyCharactersActivity"
            android:exported="false"
            android:label="@string/disney_characters_activity"
            android:theme="@style/Theme.HanaDroid.NoActionBar" />
        <activity
            android:name=".ui.LaunchingIntentsActivity"
            android:exported="false"
            android:label="@string/launch_explicit_intent"
            android:theme="@style/Theme.HanaDroid.NoActionBar" />
        <activity
            android:name=".ui.TimerActivity"
            android:exported="false"
            android:theme="@style/Theme.HanaDroid.NoActionBar" />
        <activity
            android:name=".ui.FancyListActivity"
            android:exported="false"
            android:theme="@style/Theme.HanaDroid.NoActionBar" />
        <activity
            android:name=".ui.WorkerActivity"
            android:exported="false"
            android:theme="@style/Theme.HanaDroid.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.BeerDataActivity"
            android:exported="false"
            android:label="@string/title_activity_beer_data"
            android:theme="@style/Theme.HanaDroid.NoActionBar" />
        <activity
            android:name=".ui.DeepLinkActivity"
            android:exported="true"
            android:theme="@style/Theme.HanaDroid.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="droidfood" />
                <data android:path="/restaurants/keybabs" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="sabs-deeplinks-test.web.app" />
                <data android:path="/restaurants/keybabs/order/latest.html" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="https" />
                <data android:host="sabs-deeplinks-test.web.app" />
                <data android:pathPrefix="/restaurants" />
            </intent-filter>
        </activity> <!-- Explicit Broadcast Receiver -->
        <receiver android:name=".broadcastreceivers.MyAlarmReceiver" />
        <receiver
            android:name=".broadcastreceivers.HanaBroadcastReceiver"
            android:exported="false" />
        <receiver
            android:name=".broadcastreceivers.AirplaneModeBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.MusicPlayerService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />
    </application>

</manifest>